@model IEnumerable<ReportesConUsuarioModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar</h1>



<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IdReporte</th>
                <th>Fecha de CreaciÓn</th>
                <th>Problemática</th>
                <th>Nombre de Usuario</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdReporte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problematica)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                 
                    <td>
                  
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
