@model REPORTECRUD.Models.SoporteTecnico;
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guardar</h1>
<div class="card col-8">
    <div class="card header">
        Crear Soporte
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Guardar" asp-controller="Soporte" method="post">
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Mensaje</label>
                <input asp-for="Mensaje" type="text" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>


            <div class="col-md-m4 mb-3">

                <button type="submit" class="sign">Guardar</button>


                <!--
                <a asp-action="Listar" asp-controller="Reporte" class="btn btn-warning btn-sm">Volver a la lista</a>
                <a asp-action="Listar" asp-controller="Reporte" class="btn btn-primary mb-3">Confirmar</a>-->
            </div>
        </form>
    </div>
</div>
