@model Reporte;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<div class="card col-8">
    <div class="card header">
        Crear Reporte
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Editar" asp-controller="Reporte" method="post">
            <input asp-for="IdReporte" type="hidden" class="form-control" />
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Ubicacion</label>
                <input asp-for="ubicacion" type="text" class="form-control" />
                <span asp-validation-for="ubicacion" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Tipo de reporte</label>
                <input asp-for="TipoReporte" type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Fecha creacion</label>
                <input asp-for="FechaCreacion" type="date" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Problematica</label>
                <input asp-for="Problematica" type="text" class="form-control" />
            </div>
           
            <div class="col-md-m4 mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Listar" asp-controller="Reporte" class="btn btn-warning btn-sn">volver a la lista</a>
            </div>
        </form>
    </div>
</div>
