@model Reporte;
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>
<div class="card col-8">
    <div class="card-header">
        Eliminar Reporte
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Eliminar" asp-controller="Reporte" method="post">
            <input asp-for="IdReporte" type="hidden" class="form-control"></>
            <div class="alert alert-danger" role="alert">
                ¿Deseas eliminar el reporte: @Html.DisplayFor(n=>n.IdReporte)?
            </div>

            <div class="col-md-4 mb-3">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                <a asp-action="Listar" asp-controller="Reporte" class="btn btn-warning btn-sn">volver a la lista</a>
            </div>



        </form>

    </div>




</div>