@model Reporte;
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guardar</h1>
<div class="card col-8">
    <div class="card header">
        Crear Contacto
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Guardar" asp-controller="ReporteController" method="post">
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Ubicacion</label>
                <input asp-for="ubicacion" type="text" class="form-control" />
                <span asp-validation-for="ubicacion" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Tipo de reporte</label>
                <input asp-for="TipoReporte" type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Fecha creacion</label>
                <input asp-for="FechaCreacion" type="datetime" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">Problematica</label>
                <input asp-for="Problematica" type="text" class="form-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="staticEmail2">IdUsuario</label>
                <input asp-for="IdReporte" type="text" class="form-control" />
            </div>
            <div class="col-md-m4 mb-3">

                <a asp-action="Listar" asp-controller="Reporte" class="btn btn-warning btn-sm">Volver a la lista</a>
                <button type="submit" class="btn btn-primary mb-3">Confirmar</button>
            </div>
        </form>
    </div>
</div>